extends ../layout/main

block content

	section#about.section.section--lightBg
		.container
			.row.text-center
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-pencil
					h3.h3 Web & App Design
					p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-tasks-list
					h3.h3 Development
					p Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-settings-work-tool
					h3.h3 Customization
					p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-folder
					h3.h3 Marketing
					p Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
	section#featured.section.section--darkBg
		.container
			.row
				.col-sm-8.offset-sm-2.text-center
					h2.h2 Waxom is Realization of your Ideas.
					p.promo Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			.featured__bottom
				.featured__item
					img(src="img/realization2.jpg", alt="realization").img-responsive
				.featured__item
					img(src="img/realization1.jpg", alt="realization").img-responsive
				.featured__item
					img(src="img/realization3.jpg", alt="realization").img-responsive
	section.purchase.section.section--darkestBg
		.container
			.row.justify-content-between.align-items-center
				.col-lg-auto
					h2.h2 #[span.accent-text Waxom] Multipurpose WordPress Theme
					p Don't Forget to Rate the Template. Thanks so much!
				.col-lg-auto
					a(href="#").btn Purchase Now

