extends ../layout/main

block content

	section#about.section.section--lightBg
		.container
			.row.text-center
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-pencil
					h3.h3 Web & App Design
					p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-tasks-list
					h3.h3 Development
					p Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-settings-work-tool
					h3.h3 Customization
					p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-folder
					h3.h3 Marketing
					p Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
	section#featured.section.section--darkBg
		.container
			.row
				.col-sm-8.offset-sm-2.text-center
					h2.h2 Waxom is Realization of your Ideas.
					p.promo Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			.featured__bottom
				.featured__item
					img(src="img/realization2.jpg", alt="realization").img-responsive
				.featured__item
					img(src="img/realization1.jpg", alt="realization").img-responsive
				.featured__item
					img(src="img/realization3.jpg", alt="realization").img-responsive
	section.purchase.section.section--darkestBg
		.container
			.row.justify-content-between.align-items-center
				.col-lg-auto
					h2.h2 #[span.accent-text Waxom] Multipurpose WordPress Theme
					p Don't Forget to Rate the Template. Thanks so much!
				.col-lg-auto
					a(href="#").btn Purchase Now
	section#portfolio.section.section--lightBg
		.container
			.row
				.col-sm-8.offset-sm-2.text-center
					h2.h2 Our Latest Project
					p.promo Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			ul.portfolio-list
				li.portfolio-list__item
					a(href="#").active All
				li.portfolio-list__item
					a(href="#") Web Design
				li.portfolio-list__item
					a(href="#") Mobile App
				li.portfolio-list__item
					a(href="#") Illustration
				li.portfolio-list__item
					a(href="#") Photografy
			.row
				.col-12.col-sm-6.col-md-4
					.project
						.project__top
							img(src="img/gallery-item1.jpg", alt="").img-responsive.img-width
							.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.project__bottom
							span.project__title Claritas Etiam Processus
							a(href="#").project__descr Photography, 
							a(href="#").project__descr Nature
				.col-12.col-sm-6.col-md-4
					.project
						.project__top
							img(src="img/gallery-item2.jpg", alt="").img-responsive.img-width
							.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.project__bottom
							span.project__title Quam Nutamus Farum
							a(href="#").project__descr Graphic Design, 
							a(href="#").project__descr Mock-Up
				.col-12.col-sm-6.col-md-4
					.project
						.project__top
							img(src="img/gallery-item3.jpg", alt="").img-responsive.img-width
							.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.project__bottom
							span.project__title Usus Legentis Videntur
							a(href="#").project__descr Photography, 
							a(href="#").project__descr Holiday
				.col-12.col-sm-6.col-md-4
					.project
						.project__top
							img(src="img/gallery-item4.jpg", alt="").img-responsive.img-width
							.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.project__bottom
							span.project__title Claritas Etiam Processus
							a(href="#").project__descr Photography, 
							a(href="#").project__descr Nature
				.col-12.col-sm-6.col-md-4
					.project
						.project__top
							img(src="img/gallery-item5.jpg", alt="").img-responsive.img-width
							.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.project__bottom
							span.project__title Quam Nutamus Farum
							a(href="#").project__descr Graphic Design, 
							a(href="#").project__descr Mock-Up
				.col-12.col-sm-6.col-md-4
					.project
						.project__top
							img(src="img/gallery-item6.jpg", alt="").img-responsive.img-width
							.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.project__bottom
							span.project__title Usus Legentis Videntur
							a(href="#").project__descr Photography, 
							a(href="#").project__descr Holiday
			.row.justify-content-center
				.col-auto
					a(href="#").btn Load More
	section#presentation.overlay
		img(src="img/video.jpg", alt="Waxom presentation").img-responsive
		.presentation__data.text-center
			h2.h2 Waxom Video Presentation
			p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
	section.mobile.section.section--lightBg
		.container
			.row
				.col-12.col-md-5.mobile__img
					img(src="/img/bg-mobile.jpg", alt="Waxom for Mobile").img-responsive
				.col-12.col-md-7.align-self-center
					span.h3 Excellent for Mobile Devices
					p Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
					ul.mobile-list
						li.mobile-list__item Nam liber tempor cum soluta nobis eleifend option;
						li.mobile-list__item Option congue nihil imperdiet doming id quod mazim placerat facer;
						li.mobile-list__item Eodem modo typi, qui nunc nobis videntur parum futurum;
						li.mobile-list__item Investigationes demonstraverunt lectores
	section.counters.section.section--darkestBg
		.container
			.row.text-center.justify-content-center
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-group
					span.counters__number 3587
					span.counters__title Satisfied Clients
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-coffee-cup
					span.counters__number 207
					span.counters__title Cups of coffee
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-chat-comment-oval-speech-bubble-with-text-lines
					span.counters__number 2500
					span.counters__title Blog posts
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-like
					span.counters__number 873
					span.counters__title Likes
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-reception-bell
					span.counters__number 900
					span.counters__title We launched


