extends ../layout/main

block content

	section#about.section.section--lightBg
		.container
			.row.text-center
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-pencil
					h3.h3 Web & App Design
					p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-tasks-list
					h3.h3 Development
					p Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-settings-work-tool
					h3.h3 Customization
					p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.
				.col-12.col-sm-6.col-lg-3.about__item
					i.flaticon-folder
					h3.h3 Marketing
					p Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.
	section#featured.section.section--darkBg
		.container
			.row
				.col-sm-8.offset-sm-2.text-center
					h2.h2 Waxom is Realization of your Ideas.
					p.promo Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			.featured__bottom
				.featured__item
					img(src="img/realization2.jpg", alt="realization").img-responsive
				.featured__item
					img(src="img/realization1.jpg", alt="realization").img-responsive
				.featured__item
					img(src="img/realization3.jpg", alt="realization").img-responsive
	section.purchase.section.section--darkestBg
		.container
			.row.justify-content-between.align-items-center
				.col-lg-auto
					h2.h2 #[span.accent-text Waxom] Multipurpose WordPress Theme
					p Don't Forget to Rate the Template. Thanks so much!
				.col-lg-auto
					a(href="#").btn Purchase Now
	section#portfolio.section.section--lightBg
		.container
			.row
				.col-sm-8.offset-sm-2.text-center
					h2.h2 Our Latest Project
					p.promo Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			ul.portfolio-list
				li.portfolio-list__item
					a(href="#").active All
				li.portfolio-list__item
					a(href="#") Web Design
				li.portfolio-list__item
					a(href="#") Mobile App
				li.portfolio-list__item
					a(href="#") Illustration
				li.portfolio-list__item
					a(href="#") Photografy
			.row
				.col-12.col-sm-6.col-md-4
					.item.project
						.project__top
							img(src="img/gallery-item1.jpg", alt="gallery-item1").img-responsive.img-width
							.item__top--hover.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.item__bottom.item__bottom.project__bottom
							span.item__title Claritas Etiam Processus
							a(href="#").item__descr.project__descr Photography, 
							a(href="#").item__descr.project__descr Nature
				.col-12.col-sm-6.col-md-4
					.item.project
						.project__top
							img(src="img/gallery-item2.jpg", alt="gallery-item2").img-responsive.img-width
							.item__top--hover.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.item__bottom.project__bottom
							span.item__title Quam Nutamus Farum
							a(href="#").item__descr.project__descr Graphic Design, 
							a(href="#").item__descr.project__descr Mock-Up
				.col-12.col-sm-6.col-md-4
					.item.project
						.project__top
							img(src="img/gallery-item3.jpg", alt="gallery-item3").img-responsive.img-width
							.item__top--hover.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.item__bottom.project__bottom
							span.item__title Usus Legentis Videntur
							a(href="#").item__descr.project__descr Photography, 
							a(href="#").item__descr.project__descr Holiday
				.col-12.col-sm-6.col-md-4
					.item.project
						.project__top
							img(src="img/gallery-item4.jpg", alt="gallery-item4").img-responsive.img-width
							.item__top--hover.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.item__bottom.project__bottom
							span.item__title Claritas Etiam Processus
							a(href="#").item__descr.project__descr Photography, 
							a(href="#").item__descr.project__descr Nature
				.col-12.col-sm-6.col-md-4
					.item.project
						.project__top
							img(src="img/gallery-item5.jpg", alt="gallery-item5").img-responsive.img-width
							.item__top--hover.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.item__bottom.project__bottom
							span.item__title Quam Nutamus Farum
							a(href="#").item__descr.project__descr Graphic Design, 
							a(href="#").item__descr.project__descr Mock-Up
				.col-12.col-sm-6.col-md-4
					.item.project
						.project__top
							img(src="img/gallery-item6.jpg", alt="gallery-item6").img-responsive.img-width
							.item__top--hover.project__top--hover.overlay
								a(href="#")
									i.flaticon-link-symbol
								a(href="#")
									i.flaticon-loupe
						.item__bottom.project__bottom
							span.item__title Usus Legentis Videntur
							a(href="#").item__descr.project__descr Photography, 
							a(href="#").item__descr.project__descr Holiday
			.row.justify-content-center
				.col-auto
					a(href="#").btn Load More
	section#presentation.overlay
		img(src="img/video.jpg", alt="Waxom presentation").img-responsive
		.presentation__data.text-center
			h2.h2 Waxom Video Presentation
			p Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
	section.mobile.section.section--lightBg
		.container
			.row
				.col-12.col-md-5.mobile__img
					img(src="/img/bg-mobile.jpg", alt="Waxom for Mobile").img-responsive
				.col-12.col-md-7.align-self-center
					span.h3 Excellent for Mobile Devices
					p Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
					ul.mobile-list
						li.mobile-list__item Nam liber tempor cum soluta nobis eleifend option;
						li.mobile-list__item Option congue nihil imperdiet doming id quod mazim placerat facer;
						li.mobile-list__item Eodem modo typi, qui nunc nobis videntur parum futurum;
						li.mobile-list__item Investigationes demonstraverunt lectores
	section.counters.section.section--darkestBg
		.container
			.row.text-center.justify-content-center
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-group
					span.counters__number 3587
					span.counters__title Satisfied Clients
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-coffee-cup
					span.counters__number 207
					span.counters__title Cups of coffee
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-chat-comment-oval-speech-bubble-with-text-lines
					span.counters__number 2500
					span.counters__title Blog posts
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-like
					span.counters__number 873
					span.counters__title Likes
				.col-sm-6.col-md-4.col-lg-2
					i.flaticon-reception-bell
					span.counters__number 900
					span.counters__title We launched
	section#blog.section.section--lightBg
		.container
			.row
				.col-sm-8.offset-sm-2.text-center
					h2.h2 Recent Posts
					p.promo Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
			.post-slider
				.item.post
					.post__top
						img(src="img/post1.jpg", alt="post1").img-responsive.img-width
						.calendar.text-center
							.day 30
							.month Sep
						.item__top--hover.post__top--hover.overlay
					.item__bottom.post__bottom
						span.item__title Lorem ipsum dolor sit amet
						p.item__descr Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
						a(href="#").more Read More

				.item.post
					.post__top
						img(src="img/post2.jpg", alt="post2").img-responsive.img-width
						.calendar.text-center
							.day 30
							.month Sep
						.item__top--hover.post__top--hover.overlay
					.item__bottom.post__bottom
						span.item__title Lorem ipsum dolor sit amet
						p.item__descr Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
						a(href="#").more Read More
				.item.post
					.post__top
						img(src="img/post3.jpg", alt="post3").img-responsive.img-width
						.calendar.text-center
							.day 30
							.month Sep
						.item__top--hover.post__top--hover.overlay
					.item__bottom.post__bottom
						span.item__title Lorem ipsum dolor sit amet
						p.item__descr Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
						a(href="#").more Read More
				.item.post
					.post__top
						img(src="img/post1.jpg", alt="post1").img-responsive.img-width
						.calendar.text-center
							.day 30
							.month Sep
						.item__top--hover.post__top--hover.overlay
					.item__bottom.post__bottom
						span.item__title Lorem ipsum dolor sit amet
						p.item__descr Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
						a(href="#").more Read More

				.item.post
					.post__top
						img(src="img/post2.jpg", alt="post2").img-responsive.img-width
						.calendar.text-center
							.day 30
							.month Sep
						.item__top--hover.post__top--hover.overlay
					.item__bottom.post__bottom
						span.item__title Lorem ipsum dolor sit amet
						p.item__descr Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
						a(href="#").more Read More
				.item.post
					.post__top
						img(src="img/post3.jpg", alt="post3").img-responsive.img-width
						.calendar.text-center
							.day 30
							.month Sep
						.item__top--hover.post__top--hover.overlay
					.item__bottom.post__bottom
						span.item__title Lorem ipsum dolor sit amet
						p.item__descr Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.
						a(href="#").more Read More
			.post-slider__arrows.text-center
				.post-prev
					i.flaticon-back
				.post-next
					i.flaticon-next
	section#clients.section.overlay
		.container
			.clients-slider
				.clients-slider__item
					a(href="#")
						img(src="img/client1.png", alt="client1").img-responsive
				.clients-slider__item
					a(href="#")
						img(src="img/client2.png", alt="client2").img-responsive
				.clients-slider__item
					a(href="#")
						img(src="img/client3.png", alt="client3").img-responsive
				.clients-slider__item
					a(href="#")
						img(src="img/client4.png", alt="client4").img-responsive
				.clients-slider__item
					a(href="#")
						img(src="img/client1.png", alt="client1").img-responsive
				.clients-slider__item
					a(href="#")
						img(src="img/client2.png", alt="client2").img-responsive
				.clients-slider__item
					a(href="#")
						img(src="img/client3.png", alt="client3").img-responsive
				.clients-slider__item
					a(href="#")
						img(src="img/client4.png", alt="client4").img-responsive
	section#contact.section
		.container
			.row
				.col-sm-6.col-lg-3
					a.logo(href="#")
						img(src="img/logo.png", alt="Waxom")
					p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci suscipit lobortis claritatem.
					a(href="#").more Read More
				.col-sm-6.col-lg-3
					span.h3 Recent Posts
					.contact-item
						a(href="#").contact-item__link
							span.contact-item__date September 08, 2015
							p.contact-item__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					.contact-item
						a(href="#").contact-item__link
							span.contact-item__date September 08, 2015
							p.contact-item__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit
					.contact-item
						a(href="#").contact-item__link
							span.contact-item__date September 08, 2015
							p.contact-item__content Lorem ipsum dolor sit amet, consectetuer adipiscing elit
				.col-sm-6.col-lg-3
					span.h3 Our Twitter
					.contact-item
						p.contact-item__content #[a(href="#").socials @waxom] Cum soluta nobis eleifend option congue nihil imperdiet doming
						span.contact-item__date 3 mins ago
					.contact-item
						p.contact-item__content Mirum est #[a(href="#").socials #envato] notare quam littera gothica, quam nunc putamus parum anteposuerit litterarum
						span.contact-item__date 5 hours ago
					.contact-item
						p.contact-item__content Soluta nobis option #[a(href="bit.ly/1Hniso7").socials bit.ly/1Hniso7]
						span.contact-item__date 20 days ago
				.col-sm-6.col-lg-3
					span.h3 Dribbble Widget
					.row.no-gutters
						.col-6
							.widget-item
								img(src="img/widget1.jpg", alt="widget1").img-responsive.img-width
						.col-6
							.widget-item
								img(src="img/widget2.jpg", alt="widget2").img-responsive.img-width
						.col-6
							.widget-item
								img(src="img/widget3.jpg", alt="widget3").img-responsive.img-width
						.col-6
							.widget-item
								img(src="img/widget4.jpg", alt="widget4").img-responsive.img-width
		



