doctype html
<html lang="ru">
	head
		meta(charset="utf-8")

		meta(http-equiv='X-UA-Compatible', content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		meta(name="keywords" content="waxom")
		meta(name="description" content="")

		<!-- Template Basic Images Start -->
		meta(property="og:image" content="path/to/image.jpg")
		link(rel="icon" href="img/favicon/favicon.ico")
		link(rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon-180x180.png")
		<!-- Template Basic Images End -->

		<!-- Custom Browsers Color Start -->
		meta(name="theme-color" content="#000")
		<!-- Custom Browsers Color End -->

		title Waxom
		
	
	body
		include ../modules/menu
		include ../modules/header
		.preloader
			.pulse
		block content
		include ../modules/footer
		.top(title="To top") ⇮
		link(rel="stylesheet" href="css/main.min.css")
		script(src="js/scripts.min.js")

