footer.footer.section
	.container
		.row.justify-content-between
			.col-12.col-lg-auto
				ul.footer-list
					li
						span Copyright &copy; 2015 #[span.footer-data Waxom]
					li
						a(href="javascript:void(0);") Privacy Policy
					li
						a(href="javascript:void(0);") FAQ
					li
						a(href="javascript:void(0);") Support
			.col-12.col-lg-auto
				ul.footer-list
					li
						span Design by #[a(href="javascript:void(0);").footer-data ThemeFire]
					li
						span Only on #[a(href="javascript:void(0);").footer-data Envato Market]