footer.footer.section
	.container
		.row.justify-content-between
			.col-12.col-lg-auto
				ul.footer-list
					li
						span Copyright © 2015 #[span.footer-data Waxom]
					li
						a(href="#") Privacy Policy
					li
						a(href="#") FAQ
					li
						a(href="#") Support
			.col-12.col-lg-auto
				ul.footer-list
					li
						span Design by #[a(href="#").footer-data ThemeFire]
					li
						span Only on #[a(href="#").footer-data Envato Market]