header#header.overlay
	.container
		.header-slider
			.header-slider__inner
				.header-slider__item.text-center
					.item-inner
						span.subtitle Unique and Modern Design
						h1.h1 Portfolio PSD Template
						p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
						a(href="javascript:void(0);").btn Get Started
				.header-slider__item.text-center
					.item-inner
						span.h1 Web Design
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora perspiciatis deleniti blanditiis sequi nihil quas excepturi nulla.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, commodi!
				.header-slider__item.text-center
					.item-inner
						span.h1 Development
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magni repudiandae perspiciatis omnis delectus, placeat consectetur ut!
						a(href="javascript:void(0);").btn Get Started
		.header-slider__arrows
			.header-prev
				i.flaticon-back
			.header-next
				i.flaticon-next
		.dots-wrapper
