header.header.overlay
	.container
		.row.justify-content-between.align-items-center
			.col-2
				a.logo(href="#")
					img(src="img/logo.png", alt="Waxom")
			.col-auto
				nav.main-nav
					ul.main-nav__list
						li
							a(href="#").active Home
						li
							a(href="#about") About Us
						li
							a(href="#portfolio") Portfolio
						li
							a(href="#featured") Features
						li
							a(href="#blog") Blog
						li
							a(href="#pricing") Pricing
						li
							a(href="#shortcodes") Shortcodes
						li
							a(href="#contact") Contact
					a#nav-toggle(href="#")
						span
		.header-slider
			.header-slider__inner
				.header-slider__item.text-center
					.item-inner
						span.subtitle Unique and Modern Design
						h1.h1 Portfolio PSD Template
						p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
						a(href="#").btn Get Started
				.header-slider__item.text-center
					.item-inner
						span.h1 Web Design
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora perspiciatis deleniti blanditiis sequi nihil quas excepturi nulla.
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, commodi!
				.header-slider__item.text-center
					.item-inner
						span.h1 Development
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque magni repudiandae perspiciatis omnis delectus, placeat consectetur ut!
						a(href="#").btn Get Started
		.header-slider__arrows
			.header-prev
				i.flaticon-back
			.header-next
				i.flaticon-next
		.dots-wrapper
