.fixed-top
	.row.justify-content-between.align-items-center
		.col-2
			a.logo(href="#")
				img(src="img/logo.png", alt="Waxom")
		.col-auto
			nav.main-nav
				ul.main-nav__list
					.close-menu X
					li
						a(href="#header").active Home
					li
						a(href="#about") About Us
					li
						a(href="#featured") Features
					li
						a(href="#portfolio") Portfolio
					
					li
						a(href="#blog") Blog
					li
						a(href="#clients") Our Clients
					li
						a(href="#contact") Contact
			.icon-menu
				img(src="img/menu-button.png", alt="icon-menu")

				