@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)
	.icon-menu
		display: block	
	.main-nav__list
		flex-direction: column
		position: fixed
		top: -500px
		right: 0px
		left: 0
		padding: 70px
		background: rgba(0,0,0,.9)
		z-index: 10
		text-align: center
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
		li
			margin: 10px 20px
			position: relative
			&:last-child
				margin-right: 20px
				margin-bottom: 0
			&:after
				content: ""
				display: block
				position: absolute
				bottom: -10px
				left: 0
				height: 1px
				width: 100%
				background-color: $accent
				opacity: .2

	.purchase
		text-align: center

	.footer-list
		justify-content: center
		margin: 15px
// ≥768px
+media-breakpoint-down(sm)
	.header-slider__arrows
		display: none
	.item-inner
		margin: 0
	.subtitle
		font-size: 20px
	.h1
		font-size: 40px
	.featured__bottom
		flex-direction: column
		margin-top: 30px
	.featured__item
		margin: 0 20px 20px
	.mobile
		padding-bottom: 60px
		img
			width: 200px
			display: block
			margin: auto
		.h3
			display: block
			text-align: center
			margin-top: 10px

// ≥576px
+media-breakpoint-down(xs)
	.header-slider__item 
		.btn
			margin-top: 0
	.mobile
		p
			margin-bottom: 30px
			margin-top: 30px
	#contact
		.h3
			text-align: center
	.footer-list
		flex-direction: column
		margin: 0
		text-align: center
		li
			margin-bottom: 10px
			&:after
				display: none