$default-font: "Montserrat", sans-serif
$headers-font: "Raleway", sans-serif
$accent: #c7b299
$dark-accent: #3d2a22
$text: #8c8c8c 
$header-text: #555555
$light: #fff
$dotsColor: #8e8f91
$darkSection: #fbfaf8
$brown: #615855
$socials: #00bff3
$btn: #998675


// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px
$grid-columns: 12
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px)

$gutter: $grid-gutter-width
