@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center
.accent-text
	color: $accent
b, strong
	font-weight: bold

a
	&:hover
		text-decoration: none
ul
	list-style: none
	margin: 0
	padding: 0
li
	margin: 0
	padding: 0

.container
	max-width: 1235px
	position: relative
	z-index: 1
.section
	padding: 60px 0
.section--lightBg
	background-color: $light
.section--darkBg
	background-color: $darkSection
.section--darkestBg
	background-color: $dark-accent
.overlay
	position: relative
	&:after
		content: ""
		position: absolute
		display: block
		top: 0
		left: 0
		right: 0
		bottom: 0
		background-color: rgba(0, 0, 0, .7)
.h2,.h3
	font-family: $headers-font
	font-weight: 600
	color: $header-text
	margin-bottom: 30px
.h2
	font-size: 30px
.h3
	font-size: 22px

.btn
	display: inline-block
	color: $light
	background-color: $accent
	font-family: $headers-font
	font-weight: 800
	text-transform: uppercase
	white-space: nowrap
	padding: 20px 45px 17px
	border-radius: 5px
	border-bottom: 3px solid $dark-accent
	transition: all .3s ease
	&:hover
		color: $light
		background: $dark-accent
		background: linear-gradient(to bottom, $accent, $dark-accent)
	.promo
		margin: 30px 0
//////////////HEADER START/////////

.header
	background: #46443f url(../img/header-bg.jpg) center no-repeat
	background-size: cover
	color: $light
	height: 700px
	height: 100vh
	overflow: hidden
	padding-top: 50px
	.container
		height: 100%
		position: relative

.main-nav__list
	display: flex
	li
		margin-right: 30px
		&:last-child
			margin-right: 0
	a
		color: $light
		&:hover,
		&.active
			color: $accent
.subtitle
	font-size: 32px
.h1
	font-size: 52px
	font-family: $headers-font
	font-weight: 800



/*sandwich button begin*/
#nav-toggle
	display: none
	z-index: 10
	span
		position: absolute
		z-index: 10
		right: 20px
		top: 12px
		cursor: pointer
		border-radius: 1px
		height: 5px
		width: 35px
		background: white
		display: block
		transition: all 500ms ease-in-out
		&:before
			top: -10px
		&:after
			bottom: -10px
		&:before,
		&:after
			cursor: pointer
			border-radius: 1px
			height: 5px
			width: 35px
			background: white
			position: absolute
			display: block
			content: ''
			transition: all 500ms ease-in-out
	&.active
		span
			background-color: transparent
			&:before,
			&:after
				top: 25px
				right: 100px
			&:before
				transform: rotate(45deg)
			&:after
				transform: rotate(-45deg)

/*sandwich button end*/
.next,
.prev
	position: absolute
	transform: translateY(-50%)
	cursor: pointer
	i
		&:before
			font-size: 75px
			margin-left: 0
		&:hover
			color: $accent
.next
	right: 0
	top: 50%
	
.prev
	left: 0
	top: 50%
.light-dots
	display: flex
	justify-content: center
	position: absolute
	bottom: 50px
	left: 50%
	transform: translateX(-50%)
	li
		margin-right: 10px
		&:last-child
			margin-right: 0
		&:hover,
		&.slick-active
			button
				background-color: transparent
				border: 2px solid $accent
				width: 14px
				height: 14px
		button
			background-color: $dotsColor
			width: 10px
			height: 10px
			padding: 0
			font-size: 0
			line-height: 0
			border-radius: 50%
			cursor: pointer
.header-slider,
.header-slider__inner,
.slick-list,
.slick-track
	height: 100%
.header-slider__item
	height: 100%
	padding-bottom: 100px
	&.slick-slide
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
	.btn
		margin-top: 50px
.item-inner
	max-width: 600px
	margin: 0 70px
			
//////////////HEADER END/////////

//////////////ABOUT START/////////

.about__item
	position: relative
	padding-bottom: 35px
	margin-bottom: 20px
	.h3
		white-space: nowrap
		transition: all .3s
	[class^=flaticon-]
		&:before
			margin-left: 0
			font-size: 50px
			color: $header-text
			transition: all .3s
	&:after
		content: ""
		display: block
		width: 70px
		height: 4px
		background-color: $text
		position: absolute
		bottom: 0
		left: 50%
		transform: translateX(-50%)
		transition: all .3s
	&:hover
		[class^=flaticon-]:before,
		.h3
			color: $accent
		&:after
			background-color: $accent

//////////////ABOUT END/////////

//////////////FEATURED START/////////
#featured
	padding-bottom: 0
.featured__bottom
	display: flex
	justify-content: center
	margin-top: 60px
.featured__item
	img
		&:hover
			transform: scale(1.4)
			box-shadow: 0px 0px 30px $dotsColor


//////////////FEATURED END/////////

//////////////PURCHASE START/////////

.purchase
	.h2
		color: $light
		margin-bottom: 0
	p
		color: $brown
		font-size: 18px
		font-family: $headers-font

//////////////PURCHASE END/////////

@import "media" // Always at the end